@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
.title{
    color: rgb(13, 19, 33);
    width: auto;
    height: auto;
    font-family: Azeret Mono;
    font-size: 23px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;
}
.subtitle{
    width: 606px;
    height: auto;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;
    opacity: 0.7;
    margin-top: 17px;
}

#hero{
    min-height: 500px;
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Azeret Mono;
}
#hero .group{
    width: 171px;
    min-height: 170px;
}
#hero .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#hero .hero-content{
    width: 710px;
    min-height: 220px;
    text-align: center;
}
#hero .hero-content .head{
    color: rgb(13, 19, 33);
    font-size: 34px;
    line-height: 48px;
    font-weight: 800;
    margin-top: 23px;
}
#hero .hero-content .desc{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 11px;
    font-weight: 400;
    line-height: 18.5px;
    margin-top: 23px;
    text-align: center;
}
#hero .hero-content .btn{
    background: rgb(13, 19, 33);
    border-radius: 6px;
    padding: 15px 17px 15px 17px;
    width: 174px;
    height: 46px;
    font-family: Azeret Mono;
    font-weight: 600;
    font-size: 12px;
    margin-top: 23px;
}
#hero .hero-content .btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#hero .hero-content .btn a:hover{
    color: cyan;
}

#motive{
    margin:53px auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 57px 70px 57px 70px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    font-family: Azeret Mono;
}
#motive .motive-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#motive .motive-container .motive-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17;
}
.outerlayer{
    width: 673px;
    height: 239px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 34px;
    border-radius: 12px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
#oltwo{
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.motive-container .outerlayer.motive-desc{ 
    margin: 0px 10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.outerlayer .motive-desc .oltitle{
    width: 277.5px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}
.outerlayer .motive-desc .olsubtitle{
    width: 333px;
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
}
.learn{
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    width: 122px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 8.5px 14px 8.5px 14px;
    margin-top: 23px;
}

#inspiration{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inspiration .inspiration-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inspiration .video-container{
    margin: 34px 0px;
    padding: 22px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
#inspiration .video-container .video{
    width: auto;
    height: auto;
    border-radius: 11px;
    overflow: hidden;
}
#target{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 106px;
}
#target .target-head{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#target .target-code{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    gap: 17px;
}
#target .target-code .html{
    padding: 28.5px;
    border-radius: 12px;
    background: rgba(255, 76, 30, 0.05);
}
#target .target-code .css{
    padding: 28.5px;
    border-radius: 12px;
    background: rgba(0, 76, 232, 0.05);
}
#target .target-code .js{
    padding: 28.5px;
    border-radius: 12px;
    background: rgba(255, 223, 0, 0.05);
}
.minititle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 800;
    line-height: 25.5px;
    margin: 17px 0px;
}
.minisubtitle{
    width: 202px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 18.5px;
    margin: 6px 0px;
    text-align: left;
    opacity: 0.7;
}
.learnm{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.5px;
    margin-top: 17px;
    text-align: left;
    text-decoration-line: underline;
}
#target .nexttarget-head{
    margin-top: 78px;
}
#target .nexttarget-code{
    margin-top: 34px;
    max-width: 810px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;
}
#target .nexttarget-code .reactnodemongo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 28px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 11px;
    background: rgb(255, 255, 255);
}
#target .nexttarget-code .reactnodemongo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 17px;
}
#target .reactnodemongo-container .minititle{
    margin-top: 0px;
}
#target .nexttarget-code .reactnodemongo-container .desc{
    max-width: 658.7px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    opacity: 0.7;
}

#support{
    width: 55%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    padding: 45px 48px 34px 34px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5)), url("assets/handshake.jpg");
    background-position: center;
    background-size: cover;
}
#support .support-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#support .support-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
#support .support-head .head{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px; 
    text-align: center;
}
#support .support-head .desc{
    width: 424px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    opacity: 0.7;
}
#support .input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 17px 0px;
    gap: 10px;
}
#support .input .feedback{
    width: 60vh;
    height: 18px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    padding: 13px 14px 13px 14px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}
#support .input .submit{
    border-radius: 6px;
    background: rgb(255, 255, 255);
    padding: 12px 14px 12px 14px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}

#socials{
    margin-top: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px 135px 23px 135px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
#socials .reach{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}
#socials .icons{
    display: flex;
    gap: 17px;
}